/* para usar um module css o arquivo deve terminar com module.css */
/* é possível usar module.scss e module.sass */
/* antes de usar sass é necessário instalá-lo com npm install sass */
.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }